<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<!-- 配置信息 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>file:./config/server_1.properties</value>
			</list>
		</property>
		<property name="fileEncoding" value="utf-8" />
	</bean>
	
	<!-- 注解扫描的配置，必须增加，注解才能有效 -->
	<context:component-scan base-package="com.hzy.ftp" />
	

	<!-- FTPClient Instance 
	<bean id="ftpClient" class="org.apache.commons.net.ftp.FTPClient" scope="prototype">
	</bean> -->
	
	<bean id="ftpClient" class="com.hzy.ftp.FTPClient">
	</bean>
	
	<bean id="remoteServerInfo" class="com.hzy.ftp.RemoteServerInfo">
		<property name="serverAddress" value="172.27.18.151" />
		<property name="userName" value="dev" />
		<property name="userPassword" value="Booking@0715" />
		<property name="remoteDirectory" value="/opt/app/prouser/Temp" />
	</bean>
	
	<bean id="channelFTP" class="com.hzy.ftp.ChannelFTP" destroy-method="close" scope="singleton">
		<constructor-arg name="ftp" ref="ftpClient" />
		<constructor-arg name="remoteServerInfo" ref="remoteServerInfo" />
	</bean>

</beans>
